.UI__textFields{
    margin-top: 48px;
}
.UI__textFields-tittle{
    margin-bottom: 32px;
    @include h3;
    @media (max-width: 450px){
        @include mobile_h3;    
    }
}
.UI__textFields-inputFields{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    @media (max-width: 928px){
        grid-template-columns: 1fr 1fr;      
    }
    @media (max-width: 672px){
        display: block;       
    }
}
.UI__textField{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
}
.UI__textField-tittle{
    font-size: 14px;
    line-height: 20px;
    color: #7D7D7D;
    margin-bottom: 40px;
}
.UI__textField-input{
    @include p_16;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 2px solid #AEADAE;
    transition: border-color .3s;
    @media (max-width: 450px){
        @include mobile_p_16;    
    }
}
.UI__textField-placeholder{
    @include p_16;
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    pointer-events: none;
    transition: color .3s, bottom .3s;
    @media (max-width: 450px){
        @include mobile_p_16;    
    }
}
.input_error + .UI__textField-placeholder,
.input_correct + .UI__textField-placeholder,
.input_focus + .UI__textField-placeholder {
    bottom: 45px;
    font-size: 14px;
    line-height: 20px;
    color: #7D7D7D;
}
.input_error + .UI__textField-placeholder{
    color: #E80F3B;
}
.UI__textField-errorMessage{
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #E80F3B;
    position: absolute;
    bottom: -27px;
    display: none;
    z-index: 99;
    animation-name: fade;
    animation-duration: .3s;
}
.UI__textField-errorMessage-example{
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #E80F3B;
    position: absolute;
    bottom: -27px;
    display: block;
    z-index: 99;
}
.input_error{
    border-bottom: 4px solid #E80F3B;
}
.input_correct{
    border-bottom: 4px solid #3E29E3;
}
.input_focus{
    border-bottom: 2px solid #3E29E3;
}
.input_hover{
    border-bottom: 2px solid #3E29E3;
}