@charset "UTF-8";
@import url("https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Graphik, sans-serif;
  background-color: #ffffff;
  color: #1B1B1B;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  position: relative;
  padding-right: 5px;
  display: grid;
  margin: 0 auto;
  max-width: 1300px;
  grid-template-columns: repeat(12, minmax(60px, 80px));
  grid-column-gap: 32px;
}

/*   Header    */
.header {
  grid-column-start: 1;
  grid-column-end: 13;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.header__logo-img {
  display: flex;
  margin-right: 20px;
  padding-top: 5px;
}

.header__logo-name {
  width: 200px;
  color: #7D7D7D;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
}

.header__logo-name-first {
  font-weight: 700;
  color: #1B1B1B;
}

.header__logo-name-second {
  color: #7D7D7D;
}

.header__burger {
  position: absolute;
  right: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header__burger::before {
  position: absolute;
  top: 11px;
  right: 0;
  z-index: 9999;
  display: block;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #1B1B1B;
  transition: background-color 0.3s, transform 0.3s;
}

.header__burger::after {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 9999;
  display: block;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #1B1B1B;
  transition: background-color 0.3s, transform 0.3s;
}

.active_burger:before {
  background-color: #E80F3B;
  transform: rotate(45deg);
  top: 16px;
}

.active_burger:after {
  background-color: #E80F3B;
  transform: rotate(-45deg);
  width: 32px;
  bottom: 14px;
}

/*   Navigation    */
.navigation {
  position: fixed;
  top: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 228px;
  margin-left: 9px;
}

.navigation__link {
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #7D7D7D;
}

.navigation__link:hover {
  color: #1B1B1B;
}

.active_link, .active_link:hover {
  color: #3E29E3;
}

/*   TestTask    */
.testTask {
  padding-bottom: 80px;
  margin-top: 48px;
  grid-column-start: 4;
  grid-column-end: 10;
}

.testTask__tittle {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 16px;
}

.testTask__subtittle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 64px;
}

.testTask__description {
  font-size: 16px;
  line-height: 24px;
}

/*   Grid    */
.grid {
  padding-bottom: 80px;
  grid-column-start: 4;
  grid-column-end: 13;
}

.grid__tittle {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.grid__description {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  max-width: 592px;
}

.grid__type-name {
  font-size: 24px;
  line-height: 32px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.grid__type-options {
  display: flex;
}

.grid__type-option {
  flex: 1;
}

.grid__type-option-tittle {
  font-size: 14px;
  line-height: 20px;
  flex: 1;
}

.grid__type-option-value {
  font-size: 24px;
  line-height: 32px;
  flex: 1;
}

.grid__type-img {
  margin-top: 48px;
}

.grid__type-img img {
  width: 100%;
}

/*   typography    */
.typography {
  padding-bottom: 80px;
  grid-column-start: 4;
  grid-column-end: 13;
}

.typography__tittle {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.typography__description {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  max-width: 592px;
}

.typography__tabs {
  margin-top: 48px;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.typography__tabs-item {
  cursor: pointer;
  margin-right: 32px;
  display: inline-block;
}

.typography__tabs-item-active {
  position: relative;
  font-weight: bold;
}

.typography__tabs-item-active:after {
  position: absolute;
  top: 38px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #3E29E3;
  animation-name: fade;
  animation-duration: 0.5s;
}

.typography__tabs:after {
  margin-top: 15px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #CBCBCC;
}

.typography__style {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 32px;
}

.typography__style-name {
  font-size: 14px;
  line-height: 20px;
  color: #7D7D7D;
}

.typography__style-example-h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.typography__style-example-h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.typography__style-example-h3 {
  font-size: 24px;
  line-height: 32px;
}

.typography__style-example-h4 {
  font-size: 18px;
  line-height: 28px;
}

.typography__style-example-p_lead {
  font-size: 24px;
  line-height: 32px;
}

.typography__style-example-p_18 {
  font-size: 18px;
  line-height: 28px;
}

.typography__style-example-p_16 {
  font-size: 16px;
  line-height: 24px;
}

.typography__style-example-p_14 {
  font-size: 14px;
  line-height: 20px;
}

.typography__style-example-mobile-h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.typography__style-example-mobile-h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

.typography__style-example-mobile-h3 {
  font-size: 20px;
  line-height: 28px;
}

.typography__style-example-mobile-h4 {
  font-size: 18px;
  line-height: 28px;
}

.typography__style-example-mobile-p_lead {
  font-size: 20px;
  line-height: 28px;
}

.typography__style-example-mobile-p_18 {
  font-size: 18px;
  line-height: 28px;
}

.typography__style-example-mobile-p_16 {
  font-size: 16px;
  line-height: 24px;
}

.typography__style-example-mobile-p_14 {
  font-size: 14px;
  line-height: 20px;
}

/*   UI    */
.UI {
  grid-column-start: 4;
  grid-column-end: 13;
}

.UI__tittle {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.UI__textFields {
  margin-top: 48px;
}

.UI__textFields-tittle {
  font-size: 24px;
  line-height: 32px;
}

.UI__textFields-inputFields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.UI__textField {
  position: relative;
}

.UI__textField-tittle {
  font-size: 14px;
  line-height: 20px;
  color: #7D7D7D;
  margin-top: 48px;
  margin-bottom: 40px;
}

.UI__textField-input {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border: 0;
  outline: none;
  border-bottom: 2px solid #AEADAE;
  transition: border-color 0.3s;
}

.UI__textField-placeholder {
  font-size: 16px;
  line-height: 24px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.input_error + .UI__textField-placeholder,
.input_correct + .UI__textField-placeholder,
.input_focus + .UI__textField-placeholder {
  bottom: 45px;
  font-size: 14px;
  line-height: 20px;
  color: #7D7D7D;
}

.input_error + .UI__textField-placeholder {
  color: #E80F3B;
}

.UI__textField-errorMessage {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #E80F3B;
  position: absolute;
  bottom: -27px;
  display: none;
  z-index: 99;
  animation-name: fade;
  animation-duration: 0.3s;
}

.UI__textField-errorMessage-example {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #E80F3B;
  position: absolute;
  bottom: -27px;
  display: block;
  z-index: 99;
}

.input_error {
  border-bottom: 4px solid #E80F3B;
}

.input_correct {
  border-bottom: 4px solid #3E29E3;
}

.input_focus {
  border-bottom: 2px solid #3E29E3;
}

.input_hover {
  border-bottom: 2px solid #3E29E3;
}

.UI__drop-downList-tittle {
  margin-top: 64px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
}

.UI__drop-downList-description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
}

.UI__drop-downList-selects {
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-bottom: 232px;
}

.UI__drop-downList-select {
  position: relative;
}

.UI__drop-downList-select-header {
  position: relative;
  height: 32px;
  border-bottom: 2px solid #AEADAE;
  transition: border-color 0.3s;
  cursor: pointer;
}

.UI__drop-downList-select-header:first-child:hover {
  border-color: #3E29E3;
}

.UI__drop-downList-select-current {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.UI__drop-downList-select-placeholder {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.UI__drop-downList-select-icon {
  position: absolute;
  right: 2px;
  top: 12px;
  height: 6px;
  width: 6px;
  border-bottom: 2px solid #3E29E3;
  border-right: 2px solid #3E29E3;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.active_arrow {
  transform: rotate(225deg);
}

.active_item {
  color: #3D28E1;
}

.active_body .UI__drop-downList-select-header {
  border-color: #3E29E3;
}

.active_current + .UI__drop-downList-select-placeholder {
  top: -35%;
  font-size: 14px;
  line-height: 20px;
  color: #7D7D7D;
  cursor: default;
}

.active_header {
  border-color: #3E29E3;
}

.UI__drop-downList-select-body {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.UI__drop-downList-select-item {
  cursor: default;
  padding: 8px 24px;
}

.UI__drop-downList-select-item-example {
  cursor: default;
  padding: 8px 24px;
}

.UI__drop-downList-select-item-example:last-child {
  color: #FFFFFF;
  background: #3E29E3;
}

.UI__drop-downList-select-item:hover {
  color: #FFFFFF;
  background: #3E29E3;
}

.UI__drop-downList-select-item:first-child {
  padding-top: 16px;
}

.UI__btns-tittle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 76px;
}

.UI__btns-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.UI__btns-button {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 16px 32px;
  max-width: 150px;
  border: 0;
  z-index: 1;
  background: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
  border-radius: 32px;
  color: #ffffff;
}

.UI__btns-button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
  border-radius: 32px;
  opacity: 0;
  transition: opacity 0.3s;
}

.UI__btns-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
  border-radius: 32px;
  opacity: 0;
  transition: opacity 0.1s;
}

.UI__btns-button:hover:before {
  opacity: 1;
}

.UI__btns-button:active:after {
  opacity: 1;
}

.UI__btns-button:disabled,
.UI__btns-button:disabled::after,
.UI__btns-button:disabled:before {
  background: #CBCBCC;
}

.UI__btns-button:nth-child(2):disabled,
.UI__btns-button:nth-child(2):disabled:after,
.UI__btns-button:nth-child(2):disabled:before {
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
}

.UI__btns-button:nth-child(3):disabled,
.UI__btns-button:nth-child(3):disabled:after,
.UI__btns-button:nth-child(3):disabled:before {
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}

.UI__radio_check-tittle {
  font-size: 24px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.UI__radio_check_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.UI__check_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.UI__check_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.UI__check_button > label {
  cursor: pointer;
}

.UI__check_button-checkbox {
  cursor: pointer;
  margin-right: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid #AEADAE;
  transition: all 0.3s;
  position: relative;
}

.UI__check_button:first-child:hover input {
  border: 2px solid #3E29E3;
}

.UI__check_button-checkbox:checked {
  background-color: #3E29E3;
  border: 2px solid #3E29E3;
}

.UI__check_button-checkbox:checked:after {
  content: "¬";
  position: absolute;
  font-size: 25px;
  transform: rotate(130deg);
  top: -6px;
  left: 3px;
  color: #ffffff;
}

.UI__check_button:nth-child(2) input {
  border: 2px solid #3E29E3;
}

.UI__check_button:nth-child(3) input {
  background-color: #3E29E3;
  border: 2px solid #3E29E3;
}

.UI__check_button:nth-child(3) input:after {
  content: "¬";
  position: absolute;
  font-size: 25px;
  transform: rotate(130deg);
  top: -6px;
  left: 3px;
  color: #ffffff;
}

.UI__radio_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.UI__radio_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.UI__radio_button > label {
  cursor: pointer;
}

.UI__radio_button-radio {
  cursor: pointer;
  margin-right: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid #AEADAE;
  border-radius: 50%;
  transition: border 0.3s;
  position: relative;
}

.UI__radio_button:first-child:hover input {
  border: 2px solid #3E29E3;
}

.UI__radio_button-radio:checked {
  border: 2px solid #3E29E3;
}

.UI__radio_button-radio:checked:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #3E29E3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.UI__radio_button:nth-child(2) input {
  border: 2px solid #3E29E3;
}

.UI__radio_button:nth-child(3) input {
  border: 2px solid #3E29E3;
}

.UI__radio_button:nth-child(3) input:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #3E29E3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.UI__accordion {
  font-size: 16px;
  line-height: 24px;
}

.UI__accordion-tittle {
  font-size: 24px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.UI__accordion-header {
  cursor: pointer;
  position: relative;
  height: 40px;
  transition: color 0.3s;
}

.UI__accordion-header:after {
  content: "";
  position: absolute;
  right: 2px;
  top: 6px;
  height: 6px;
  width: 6px;
  border-bottom: 2px solid #3E29E3;
  border-right: 2px solid #3E29E3;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.UI__accordion-body {
  margin-bottom: 24px;
  overflow: hidden;
  max-height: 0;
  border-bottom: 1px solid #CBCBCC;
  transition: border-color 0.3s, max-height 0.3s;
}

.active_accordion_header {
  color: #3E29E3;
}

.active_accordion_header:after {
  transform: rotate(225deg);
}

.accordion_hover {
  border-color: #3E29E3;
}

.active_accordion_body {
  border-bottom: 2px solid #3E29E3;
  padding-bottom: 30px;
}

.UI__accordion-body-exmple {
  border-bottom: 2px solid #3E29E3;
  padding-bottom: 30px;
}

/*    Footer      */
.footer {
  margin-top: 112px;
  grid-column-start: 1;
  grid-column-end: 13;
  height: 116px;
  width: 100%;
  display: flex;
}

.footer__tittle {
  margin: auto;
}

/*  back-page   */
.back-page {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/back-page_image.png");
  background-size: cover;
}

.back-page__info {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 55%;
  height: 98%;
}

.back-page__info-header {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 56px;
  margin-bottom: 36px;
}

.back-page__info-logo {
  margin-right: 45px;
  padding-top: 5px;
}

.back-page__info-tittle {
  color: #7D7D7D;
}

.back-page__info-body {
  margin-left: 160px;
}

.back-page__info-name {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}

.back-page__info-description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  max-width: 384px;
}

.back-page__info-phone {
  font-size: 18px;
  line-height: 28px;
}

.back-page__info-link {
  position: absolute;
  left: 160px;
  bottom: 40px;
  display: flex;
  align-items: center;
}

.back-page__info-link-img {
  margin-right: 24px;
  position: relative;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.back-page__info-link-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
}

.back-page__info-link a {
  font-size: 16px;
  line-height: 24px;
  color: #3E29E3;
}/*# sourceMappingURL=style.css.map */