.grid{
    padding-bottom: 80px;
    grid-column-start: 4;
    grid-column-end: 13;
    @media (max-width: 928px){
        grid-column-end: 9;           
    }
    @media (max-width: 672px){
        grid-column-start: 1;          
    } 
    @media (max-width: 450px){
        grid-column-end: 5;    
    }
  
}
.grid__description{    
    margin-top: 24px;
    max-width: 592px;
}
.grid__type-name{
    margin-top: 48px;
    margin-bottom: 32px;
}
.grid__type-options{
    display: flex;

    @media (max-width: 928px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;          
    } 
}
.grid__type-option{
    flex: 1;
    min-width: 116px;
    @media (max-width: 928px){
        margin-bottom: 18px;        
    } 
}
.grid__type-img{
    margin-top: 30px;
}
.grid__type-img img{   
    width: 100%;
}