.grid{
    padding-bottom: 80px;
    grid-column-start: 4;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 32px;
    @media (max-width: 928px){
        display: block;
        grid-column-end: 9;           
    }
    @media (max-width: 672px){
        grid-column-start: 1;          
    } 
    @media (max-width: 450px){
        grid-column-end: 5;    
    }
  
}
.grid__tittle{
    grid-column-start: 1;
    grid-column-end: 10;
    margin-bottom: 24px;   
}
.grid__description{   
    grid-column-start: 1;
    grid-column-end: 7;
    margin-bottom: 48px;
}
.grid__type-name{
    grid-column-start: 1;
    grid-column-end: 10;
    margin-bottom: 32px;
}
.grid__type-options{
    grid-column-start: 1;
    grid-column-end: 10;
    display: flex;
    margin-bottom: 30px;
    @media (max-width: 928px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;          
    } 
}
.grid__type-option{
    flex: 1;
    min-width: 116px;
    @media (max-width: 928px){
        margin-bottom: 18px;        
    } 
}
.grid__type-img{
    grid-column-start: 1;
    grid-column-end: 10;
    margin-bottom: 64px;
}
.grid__type-img:last-child{
    margin-bottom: 0;
}
.grid__type-img img{   
    width: 100%;
}