@mixin desktop {
    h1{
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
    }
    h2{
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    h3{  
        font-size: 24px;
        line-height: 32px;
    }
    h4{
        font-size: 18px;
        line-height: 28px;  
    }
    .p_lead{
        font-size: 24px;
        line-height: 32px;
    }
    .p_18{
        font-size: 18px;
        line-height: 28px;
    }
    .p_16{
        font-size: 16px;
      line-height: 24px;
    }
    .p_14{
        font-size: 14px;
        line-height: 20px;
    }
}

@mixin mobile {
    h1{
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    h2{
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
    }
    h3{   
        font-size: 20px;
        line-height: 28px;
    }
    h4{
        font-size: 18px;
        line-height: 28px;  
    }
    .p_lead{
        font-size: 20px;
        line-height: 28px;
    }
    .p_18{
        font-size: 18px;
        line-height: 28px;
    }
    .p_16{
        font-size: 16px;
      line-height: 24px;
    }
    .p_14{
        font-size: 14px;
        line-height: 20px;
    }
}