.modal{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../img/modal_image.png');
    background-size: cover;
}
.modal__info{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 55%;
    height: 98%;
    @media (max-width: 1077px){
        width: 84%;        
    }
    @media (max-width: 672px){
        width: 97.5%;   
    }
}
.modal__info-header{
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-left: 63px;
    margin-bottom: 36px;
    @media (max-width: 450px){
        margin-left: 24px;    
    }
}
.modal__info-logo{
    margin-right: 45px;
    @media (max-width: 450px){
        margin-right: 15px;    
    }
}
.modal__info-tittle{
    color: #7D7D7D;
    padding-right: 20px;
}
.modal__info-body {
    margin-left: 160px;
    padding-right: 20px;
    @media (max-width: 672px){
        margin-left: 62px;        
    }
    @media (max-width: 450px){
        margin-left: 23px;        
    }
}
.modal__info-name{
    margin-bottom: 24px;
}
.modal__info-description{
    margin-bottom: 32px;
    max-width: 384px;
}
.modal__info-link{
    position: absolute;
    left: 160px;
    bottom: 40px;
    display: flex;
    align-items: center;
    @media (max-width: 672px){
        left: 62px;        
    }
    @media (max-width: 450px){
        left: 23px;        
    }
}
.modal__info-link-img {
    margin-right: 24px;
    position: relative;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
.modal__info-link-img img{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
}
.modal__info-link a{
    color: #3E29E3;
}
.modal__close{
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 25px;
    width: 24px;
    height: 24px;
    background-color:rgba(0, 0, 0, 0);

}
.modal__close::before{
    position: absolute;
    top: 50%; 
    transform: translateX(-50%);
    display: block;
    content: '';
    background-color: #ffffff;
    width: 24px;
    height: 2px;
    transform: rotate(45deg);
    @media (max-width: 672px){
        background-color: #1B1B1B;  
    }
}
.modal__close::after{
    position: absolute;
    top: 50%;  
    transform: translateX(-50%);
    display: block;
    content: '';
    background-color: #ffffff;
    width: 24px;
    height: 2px;
    transform: rotate(-45deg);
    @media (max-width: 672px){
        background-color: #1B1B1B;  
    }
}
.modal_show{
    visibility: visible;
    animation-name: fade;
    animation-duration: .5s;
}