.navigation{
    position: sticky;
    top: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 228px;
    @media (max-width: 672px){
        display: none;           
    } 
}
.navigation__link{
    margin-bottom: 16px;
    display: block;
    @include p_14;
    color: #7D7D7D;
    @media (max-width: 450px){
        @include mobile_p_14;    
    }
}
.navigation__link:hover{
    color: #1B1B1B;
}

.active_link, .active_link:hover{
    color: #3E29E3;
}