.navigation{
    position: sticky;
    top: 120px;
    grid-column-start: 1;
    grid-column-end: 4;
    @media (max-width: 672px){
        display: none;           
    } 
}
.navigation__link{
    margin-bottom: 16px;
    display: block;
    color: #7D7D7D;
}
.navigation__link:hover{
    color: #1B1B1B;
}

.active_link, .active_link:hover{
    color: #3E29E3;
}