.UI__radio_check-tittle{
    margin-top: 32px;
    margin-bottom: 32px;
}
.UI__radio_check_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    @media (max-width: 450px){
        display: block;      
    }
    
}
.UI__check_buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.UI__check_button{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.UI__check_button > label{
    cursor: pointer;
}
.UI__check_button-checkbox{
    cursor: pointer;
    margin-right: 16px;
    appearance: none;
    box-sizing: border-box;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 2px solid #AEADAE;
    transition: border .3s, background-color .3s;
    position: relative;
}
.UI__check_button:first-child:hover input{
    border: 2px solid #3E29E3;
}
.UI__check_button-checkbox:checked {
	background-color: #3E29E3;
    border: 2px solid #3E29E3;
}
.UI__check_button-checkbox:checked:after {
	content: "\00AC";
	position: absolute;
    font-size: 25px;
    transform: translate(-50%, -50%) rotate(130deg);
	top: 45%;
	left: 50%;
	color: #ffffff;
}
.UI__check_button:nth-child(2) input{
    border: 2px solid #3E29E3;
}
.UI__check_button:nth-child(3) input{
    background-color: #3E29E3;
    border: 2px solid #3E29E3;
}
.UI__check_button:nth-child(3) input:after {
    content: "\00AC";
	position: absolute;
    font-size: 25px;
    transform: translate(-50%, -50%) rotate(130deg);
	top: 45%;
	left: 50%;
	color: #ffffff;
}
.UI__radio_buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.UI__radio_button{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.UI__radio_button > label{
    cursor: pointer;
}
.UI__radio_button-radio{
    cursor: pointer;
    margin-right: 16px;
    appearance: none;
    box-sizing: border-box;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 2px solid #AEADAE;
    border-radius: 50%;
    transition: border .3s;
    position: relative;
}
.UI__radio_button:first-child:hover input{
    border: 2px solid #3E29E3;
}
.UI__radio_button-radio:checked {
    border: 2px solid #3E29E3;
}
.UI__radio_button-radio:checked:after {
    content: '';
	position: absolute;
    width: 12px;
    height: 12px;
	background-color: #3E29E3;
    border-radius: 50%;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.UI__radio_button:nth-child(2) input{
    border: 2px solid #3E29E3;
}
.UI__radio_button:nth-child(3) input{
    border: 2px solid #3E29E3;
}
.UI__radio_button:nth-child(3) input:after {
    content: '';
	position: absolute;
    width: 12px;
    height: 12px;
	background-color: #3E29E3;
    border-radius: 50%;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}