.UI__tittle{
    margin-bottom: 48px;
}
.UI__textFields{
    margin-bottom: 40px;
}
.UI__textFields-tittle{
    margin-bottom: 32px;
}
.UI__textFields-inputFields{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    @media (max-width: 928px){
        grid-template-columns: 1fr 1fr;      
    }
    @media (max-width: 672px){
        display: block;       
    }
}
.UI__textField{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
}
.UI__textField-tittle{
    font-size: 14px;
    line-height: 20px;
    color: #7D7D7D;
    margin-bottom: 40px;
}
.UI__textField-input{
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 2px solid #AEADAE;
    transition: border-color .3s;
}
.UI__textField-placeholder{
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    pointer-events: none;
    transition: color .3s, bottom .3s;
}
.UI__textField-errorMessage{
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #E80F3B;
    position: absolute;
    bottom: -27px;
    visibility: hidden;
    z-index: 99;
}
.show_errorMessage{
    visibility: visible;
    animation-name: fade;
    animation-duration: .3s;
}
.UI__textField-input:hover{
    border-bottom: 2px solid #3E29E3;
}
.UI__textField-input:focus{
    border-bottom: 2px solid #3E29E3;
}
.UI__textField-input:valid{
    border-bottom: 4px solid #3E29E3;
}
.UI__textField-input:focus + .UI__textField-placeholder,
.UI__textField-input:valid + .UI__textField-placeholder{
    bottom: 45px;
    font-size: 14px;
    line-height: 20px;
    color: #7D7D7D;
}
.input_error{
    border-bottom: 4px solid #E80F3B;
}
.input_error:hover{
    border-bottom: 4px solid #E80F3B;
}
.input_error:valid{
    border-bottom: 4px solid #E80F3B;
}
.input_error:valid + .UI__textField-placeholder{
    color: #E80F3B;
}

.input_example_hover{
    border-bottom: 2px solid #3E29E3;
}
.input_example_correct{
    border-bottom: 4px solid #3E29E3;
}
.input_example_correct:hover{
    border-bottom: 4px solid #3E29E3;
}
.input_example_correct + .UI__textField-placeholder{
    bottom: 45px;
    font-size: 14px;
    line-height: 20px;
    color: #7D7D7D;
}
.UI__textField-errorMessage-example{
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #E80F3B;
    position: absolute;
    bottom: -27px;
    display: block;
    z-index: 99;
}
.placeholder_error_example{
    bottom: 45px;
    font-size: 14px;
    line-height: 20px;
    color: #E80F3B;
}